VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ENV=
VITE_ENABLE_QUERY_DEVTOOLS=
VITE_ADMIN_PASSWORD=
VITE_ADMIN_RATE_LIMIT=5
VITE_POSTHOG_KEY=your_posthog_project_key
VITE_POSTHOG_HOST=https://us.i.posthog.com
